@import "./variables/colors";

.page-one-bg {
	background-image: url("../../images/infoPageBackGround.png");
	background-size:100% 100%;
	width: 100vw;	
	height: 100vh;
}

.page-two-bg {
	background-image: url("../../images/locationPageBackground.png");
	background-size:100% 100%;
	height: 105vh;		
}

.page-three-bg {
	background-color: $blush;
	background-size:100% 100%;
	height: 100vh;
}

.page-four-bg {
	background-image: url("../../images/lookingAtCityBW.jpg");
	background-size:100% 100%;
	height: 105vh;
}

.page-four-bg-expanded {
	height: 135vh;
}
