.Form {
	.noteOnForm {
		
		color: red;	
	}
	.yesAttending {
		margin-left: 15px;
	}
  border: 3px double black;
  -moz-outline-radius: 2%;
  border-radius: 2%;
  width: 30%;
  background-color: white;
  margin: 0 20px 20px 20px;
  padding: 5px;
  box-shadow: 0  0 0px 5px rgba(255,255,255,0.9),  0 10px 20px rgba(0,0,0,0.9), 0 6px 6px rgba(0,0,0,0.9);

  h1 {
    margin-bottom: 50px;
    margin-top: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Great Vibes', cursive;
  }

  .submitButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      width: 200px;
    }
  }

  .textInput {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 0% !important;
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1px solid black !important;
  }

  .selectInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .attendingContainer {
      display: flex;
      flex-direction: row;
      p {
        margin-right: -10px;
      }
      .attendingCheckBoxes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 15px;

        label {
          margin-right: 10px;
          margin-left: 9px;
        }
      }
    }

    select {
      width: 20vw;
    }

    input {
      margin-left: 10px;
    }
  }

	.formSongListElement {
		display: flex;
		flex-direction: row;
		p {
			margin-left: 10px;
			color: red;
			font-weight: bold;
			cursor: pointer;	
		}	
	}
}
