@import "../mixins/mainHeading";

.galleryContainer {
  @include mainHeadingStyle();

  .polaroidsContainer{
    width:100vw;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .polaroid {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    z-index: 3;
    overflow: visible;
  }

  .image {
    border-radius: 1%;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5px;
    background-color: black;
    width:200px;
    height:300px;
  }

  .image:hover {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .imageWide {
    border-radius: 1%;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5px;
    background-color: black;
    width:300px;
    height:200px;
  }

  .imageWide:hover {
    position: relative;
    width: 400px;
    height: 250px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
