@import "../mixins/mainHeading";

.rsvpPage {
  .formComponent {
    padding-right: 10px;
    padding-left: 10px;
  }

  .formContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .Form {
    width: 45vw;
    height: auto;
    background:rgba(255,255,255,0.9)
  }

  .musicForm {
    width: 40vw;
    background:rgba(255,255,255,0.9)
  }

  .songsToSubmit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}
