/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page-one-bg {
  background-image: url("../../images/infoPageBackGround.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-two-bg {
  background-image: url("../../images/locationPageBackground.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-three-bg {
  background-color: #F4D7D1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-four-bg {
  background-color: #dfcd97;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

nav {
  margin-right: 2px;
  float: right; }
  nav a {
    color: white; }
  nav a:hover {
    color: deepskyblue;
    text-decoration: none; }
  nav .active {
    color: deepskyblue; }

.infoPage h1 {
  margin-top: 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  font-family: "Savoye LET"; }
.infoPage p {
  color: white; }
.infoPage .infoContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
.infoPage .coupleImage {
  width: 300px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.infoPage .infoText {
  width: 70%;
  font-size: 18px;
  font-family: "Arial Narrow"; }

.Form {
  width: 30%;
  background-color: white;
  padding: 10px;
  border-radius: 1%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .Form .submitButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Form .submitButton input {
      width: 200px; }
  .Form input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .Form .selectInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .Form .selectInputs select {
      width: 20vw; }

.rsvpPage h1 {
  margin-top: 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  font-family: "Savoye LET"; }
.rsvpPage .formComponent {
  padding-right: 10px;
  padding-left: 10px; }
.rsvpPage .formContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; }
.rsvpPage .Form {
  width: 45vw;
  height: auto; }
.rsvpPage .musicForm {
  width: 40vw; }
.rsvpPage .songsToSubmit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.musicForm {
  width: 30%;
  background-color: white;
  padding: 10px;
  border-radius: 2%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .musicForm .searchResults {
    width: 100%; }
    .musicForm .searchResults .songInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
  .musicForm .musicSearchInput {
    border-bottom: 1px solid black;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
