/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page-one-bg {
  background-image: url("../../images/infoPageBackGround.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-two-bg {
  background-image: url("../../images/locationPageBackground.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-three-bg {
  background-color: #F4D7D1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-four-bg {
  background-image: url("../../images/lookingAtCityBW.jpg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

nav {
  margin-right: 2px;
  float: right; }
  nav a {
    color: white; }
  nav a:hover {
    color: deepskyblue;
    text-decoration: none; }
  nav .active {
    color: deepskyblue; }

.infoPage h1 {
  margin-top: 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: 'Great Vibes', cursive; }
.infoPage p {
  color: white; }
.infoPage .infoContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
.infoPage .coupleImage {
  width: 300px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.infoPage .infoText {
  width: 70%;
  font-size: 18px;
  font-family: "Arial Narrow"; }

.Form {
  border: 3px double black;
  -moz-outline-radius: 2%;
  border-radius: 2%;
  width: 30%;
  background-color: white;
  margin: 0 20px 20px 20px;
  padding: 5px;
  box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.9), 0 10px 20px rgba(0, 0, 0, 0.9), 0 6px 6px rgba(0, 0, 0, 0.9); }
  .Form h1 {
    margin-bottom: 50px;
    margin-top: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Great Vibes', cursive; }
  .Form .submitButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Form .submitButton input {
      width: 200px; }
  .Form .textInput {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 0% !important;
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1px solid black !important; }
  .Form .selectInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .Form .selectInputs select {
      width: 20vw; }

.rsvpPage .formComponent {
  padding-right: 10px;
  padding-left: 10px; }
.rsvpPage .formContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; }
.rsvpPage .Form {
  width: 45vw;
  height: auto;
  background: rgba(255, 255, 255, 0.9); }
.rsvpPage .musicForm {
  width: 40vw;
  background: rgba(255, 255, 255, 0.9); }
.rsvpPage .songsToSubmit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.musicForm {
  border: 3px double black;
  width: 30%;
  background-color: white;
  padding: 10px;
  border-radius: 2%;
  box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.9), 0 10px 20px rgba(0, 0, 0, 0.9), 0 6px 6px rgba(0, 0, 0, 0.9); }
  .musicForm .searchResults {
    width: 100%;
    height: 21.1vw;
    overflow: scroll; }
    .musicForm .searchResults .songInfo:nth-child(odd) {
      background: #CCC; }
    .musicForm .searchResults .songInfo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .musicForm .searchResults .infoCells {
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      width: 20vw; }
  .musicForm .musicSearchInput {
    border-bottom: 1px solid black;
    width: 100%; }
    .musicForm .musicSearchInput input {
      margin-bottom: 1px; }
  .musicForm .addButton {
    width: 100px;
    height: 30px; }
  .musicForm .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px; }

.venueLocationContainer h1 {
  margin-top: 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: 'Great Vibes', cursive; }
.venueLocationContainer p {
  color: white; }
.venueLocationContainer h4 {
  color: white;
  font-family: "Arial Narrow"; }
.venueLocationContainer .locationMaps {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
.venueLocationContainer .map {
  border-radius: 2%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.venueLocationContainer .styleBothMaps {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
.venueLocationContainer #map {
  height: 100%; }

.galleryContainer h1 {
  margin-top: 2%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: 'Great Vibes', cursive; }
.galleryContainer .polaroidsContainer {
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll; }
.galleryContainer .polaroid {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 3;
  overflow: visible; }
.galleryContainer .image {
  border-radius: 1%;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 5px;
  background-color: black;
  width: 200px;
  height: 300px; }
.galleryContainer .image:hover {
  position: relative;
  width: 250px;
  height: 400px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
.galleryContainer .imageWide {
  border-radius: 1%;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 5px;
  background-color: black;
  width: 300px;
  height: 200px; }
.galleryContainer .imageWide:hover {
  position: relative;
  width: 400px;
  height: 250px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/*# sourceMappingURL=style.css.map */
